.descripcion{
    width: 600px;
    height: 300px;
    border: 1px solid rgba(102, 153, 153, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 180px;
    left: 650px;
    box-shadow: 5px 10px 18px #c2c2d6;
    margin-bottom: 200px;
   
}
p{
    text-align: left;
    padding:10px 40px;
}