.bread{
color: rgb(196, 131, 228);
z-index: 5;
position: relative;
text-decoration: none;
top: -106px;
left: -675px;

}
.breadContainer{
    margin-top: 90px;
}
.breadActive {
 color: rgb(171, 62, 204);
 position: relative;
 top: -106px;
 left: -673px;

}